{% extends 'admin/ad_base.html' %}
 {% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center disply-4">update category</h1>
        </div>
        <div class="col-md-12">
            <form method="POST" action="#" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <br>
                <input type="submit" class="btn btn-dark btn-block" value="update"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}